header {
    display: flex;
    justify-content: space-between;
    background-color: #02F9BD;
    border-bottom: 10px solid black;
    padding: 10px 20px; 
    
}

nav {
    text-align: right;
}

#logo {
    border-radius: 50%;
    display: inline-block;
    text-align: left;
    border: 2px solid black;
}

a {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: black;
    font-family: "fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before { 
    content: "";
    background-color: #02D3DB;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;

}

#button {
    display: inline-block;
    background-color: #02D3DB;
    box-shadow: 5px 5px 2px #02167a7e;
    border-radius: 5px;
    padding: 18px 20px ;
    margin-right: 0;
    transition: transform 150ms cubic-bezier(.45,.97,.68,2.48) ;
}

#button:hover {
    background-color: #022bf95b;
    transform: scale(1.05);