a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 20px;
}

a::before { 
    content: "";
    background-color: #02D3DB;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}