.box {
    display: inline-block;
    background-color: #0261DB;
    box-shadow: 5px 5px 2px #02167a7e;
    border-radius: 5px;
    text-align: center;
    padding: 42px 44px;
}

.box h1 {
    margin-bottom: 28px;
}