.card-project {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 2px white;
}

.card-project.-blue {
    background-color: #0261DB;
}



/*width: 280px;
height: 280px;



/*.card-project {
    display: flex;
    justify-content: space-around;
}