.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/foto\ portifolio.jpeg.jpeg);
    background-repeat: no-repeat;
    height: 720px;
    background-size: 100%;
    border-bottom: 10px solid black;  
    padding-top: 115px;
    padding-left: 70px;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 630px;

}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}
