.main-section {
    background-color: #02D3DB;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid black;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgAzul {
    background-color: #022DF9;
}