.progress-bar {
    box-sizing: border-box;
    background-color: #FFF;
    border: 2px solid black;
    height: 40px;
    width: 360px;
    border-radius: 5px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: rgb(255, 166, 0);
}