.section {
    background-color: #02D3DB;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid black;
}

.section .main-title {
    margin-bottom: 60px;
}
/*
.section img {
    width: 80.27px;
    height: 90px;
}

.section::after {
    content: "aaaaaaaaaa";
    color: white;
    width: 60px;
    height: 40px;
    border: 5px solid black;
}*/